@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@100;200;300&display=swap');

html, body{
    margin: 0;
    padding: 0;
    
  }

  /* for grid 100vh per section*/
  .main{
    display: grid;
    grid-auto-rows: minmax( 70vh, auto);
    margin: 0;
    padding: 0;

  }

  .section-1 {
    grid-row: 1/2;
}

.row{
  margin: 0;
  padding: 0;
}


h5{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}


#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: 	#B2BEB5;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}



.wrap-banner{
  display:flex;
  justify-content:center;
  align-items:center;
 background:url('/assets/aboutus/about.jpg');
 background-size:cover;
  background-position:center;
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 42%);
  height: 40vh;
  margin-top: 6%;
}

section h1{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 5rem;
  color: white;
}

/*end of section-1 css*/






/*css for slide-in scroll*/
 
.scroll-container{
  overflow: hidden;
}
    .scroll-element{
      width: 100%;
     
    }

    /**Styling scrollable elements*/
    
    .js-scroll {
      opacity: 0;
      transition: opacity 500ms;
    }
    
    .js-scroll.scrolled {
      opacity: 1;
    }
    

    
    .scrolled.slide-left {
      animation: slide-in-left 1s ease-in-out both;
    }
    
    .scrolled.slide-right {
      animation: slide-in-right 1s ease-in-out both;
    }

    
    @keyframes slide-in-left {
      0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    
    @keyframes slide-in-right {
      0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    

/*start of media qurery*/

  @media (max-width: 991.98px) { 

    .main{
     display: grid;
     grid-auto-rows: minmax(90vh, auto);
     margin: 0;
     padding: 0;
 
   }
   
   .left-toggler{
    display: none;
  }



  .wrap-banner{
    margin: 0;
    height: 75vh;
  }

 

  }

  @media (max-width: 576px) { 

   .main{
     display: grid;
     grid-auto-rows: minmax(90vh, auto);
     margin: 0;
     padding: 0;
 
   }



   
   .wrap-banner{
     margin: 0;
     height: 70vh;
   }
   

    .wrap-banner h1{
     font-size: calc(1.525rem + 3.3vw);
    }


    
   }
